.btn {
  padding: 7px 23px;
  background-color: #c8c8c8;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0 0 5px #ccc;
  border-radius: 3px;
}
.btn:hover {
  background-color: #aaaaaa;
}
.btn-info {
  background-color: #41b6ff;
  color: #fff;
}
.btn-info:hover {
  background-color: #2f87e1;
}
.btn-success {
  background-color: #57c667;
  color: #fff;
}
.btn-success:hover {
  background-color: #109a26;
}
.btn-warning {
  background-color: #ff7e35;
  color: #fff;
}
.btn-warning:hover {
  background-color: #cb6531;
}
.hide {
  display: none;
}
html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
}
html body * {
  display: flex;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  transition: all 0.2s;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background-size: cover;
  user-select: none;
}
html body * {
  display: flex;
  flex-direction: column;
}
.app {
  flex: 1;
  flex-direction: row;
}
.app nav {
  width: 250px;
  height: 100%;
  background: linear-gradient(#64aff2, #6165fc);
  color: #fff;
  -webkit-app-region: drag;
}
.app nav .logo {
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
}
.app nav .logo .iconfont {
  font-size: 30px;
  margin-bottom: 10px;
}
.app nav .entity-list {
  -webkit-app-region: no-drag;
  flex: 1;
  overflow-y: auto;
}
.app nav .entity-list::-webkit-scrollbar {
  background-color: #fffa;
  width: 4px;
}
.app nav .entity-list::-webkit-scrollbar-thumb {
  background-color: #000d;
}
.app nav .entity-list li {
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
}
.app nav .entity-list li:hover {
  background-color: #00000044;
}
.app nav .entity-list li.active {
  background-color: #00000066;
}
.app nav .entity-list .entity-name {
  display: block;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.app nav .entity-list .entity-fun {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.app nav .entity-list .entity-fun .iconfont {
  padding: 0 5px;
}
.app nav .entity-list .entity-fun .iconfont:hover {
  cursor: pointer;
}
.app nav .entity-list .entity-fun .iconfont.iconqidong {
  color: #42ff41;
}
.app nav .entity-list .entity-fun .iconfont.iconai08 {
  color: #ff4937;
}
.app nav .entity-list .entity-fun .iconfont.iconLoading {
  color: #ff8518;
  animation: loading 1s infinite linear;
}
.app article {
  flex: 1;
  background-color: #fff;
}
.app article header {
  border-bottom: 1px solid #d0d0d0;
  padding: 5px;
  height: 40px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-app-region: drag;
}
.app article header .new-project {
  -webkit-app-region: no-drag;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #3330;
  border-radius: 3px;
  transition: all 0.2s;
}
.app article header .new-project:hover {
  background-color: #3333;
}
.app article header .new-project .iconfont {
  font-size: 20px;
  margin-right: 5px;
}
.app article header .win-fun {
  flex-direction: row;
}
.app article header .win-fun .iconfont {
  -webkit-app-region: no-drag;
  width: 40px;
  height: 40px;
  color: #333;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: rotate(0);
  transition: all 0.2s;
  border-radius: 3px;
  font-weight: bold;
}
.app article header .win-fun .iconfont:hover {
  transform: rotate(180deg);
  background-color: #3333;
}
.app article .conf-container {
  box-sizing: border-box;
  flex: 1;
  padding: 10px;
}
.app article .conf-container .btn-box {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.app article .conf-container .req-list {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 10px;
  user-select: text;
}
.app article .conf-container .req-list::-webkit-scrollbar {
  background-color: #fffa;
  width: 4px;
}
.app article .conf-container .req-list::-webkit-scrollbar-thumb {
  background-color: #000d;
}
.app article .conf-container .req-list li {
  width: 100%;
  flex-direction: row;
}
.app article .conf-container .req-list li + li {
  border-top: 1px solid #dcdcdc;
}
.app article .conf-container .req-list li + li:hover {
  background-color: #eee;
}
.app article .conf-container .req-list li > div {
  padding: 15px 0;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.app article .conf-container .req-list li > div:nth-of-type(2) {
  flex: 1;
}
.app article .conf-container .req-list li > div:nth-of-type(3) {
  flex: 1;
}
.app article .conf-container .req-list li > div:nth-of-type(5) i {
  cursor: pointer;
}
.app article .conf-container .req-list li > div:nth-of-type(5) .iconfont + .iconfont {
  margin-left: 10px;
}
