* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: 100%;
        display: flex;
        border: 1px solid #39f;
        box-sizing: border-box;
        box-shadow: 0 0 50px #000;

        * {
            display: flex;
            flex-direction: column;
        }
    }
}

.app {
    flex: 1;
    flex-direction: row;

    nav {
        width: 180px;
        height: 100%;
        background-color: #39f;
    }

    article {
        flex: 1;
        background-color: #e5e5e5;

        header {
            border-bottom: 1px solid #ccc;
            height: 40px;
            -webkit-app-region: drag;
            .win-fun {}
        }
    }
}
